RewriteEngine On # Activer le module Rewrite
RewriteRule ^advertisements/?$ advertisements.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ advertisements.php?id=$1
RewriteRule ^companies/?$ companies.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ companies.php?id=$1
RewriteRule ^job_applications/?$ job_applications.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ job_applications.php?id=$1
RewriteRule ^users/?$ users.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ users.php?id=$1